

.navbarDarkCustom {
    color: rgba(255,255,255,1) !important;
  }
  
  .navbarLightCustom {
    color: rgba(0,0,0,1) !important;
  }

.darkModeIcon {
    color: var(--red-primary-color);
}

.lightModeIcon {
    color: var(--red-primary-color);
}

nav .container {
    padding-left: 0 !important;
}

.navGrid {
    z-index: 1000000 !important;
}

.navBrandText {
    margin-left: 15% !important;
    font-size: 30px !important;
    color: var(--red-primary-color) !important;
}

.navBrandTextMain {
    font-family: 'Bungee Shade' !important;
    font-size: 22px !important;
    background: -webkit-linear-gradient(#eb175a, #c90202) !important;
    -webkit-background-clip: text !important;
    background-clip: text !important;
    -webkit-text-fill-color: transparent !important;
}

.navDropdown {
    margin-top: -1.5px !important;
    font-size: 17px !important;
}

.socialIcons {
    display: flex !important;
    align-items: center !important;
    margin-left: 1% !important;
}

.iconSize {
    font-size: 1.75rem !important;
}

.iconSizeTheme {
    font-size: 2.2rem !important;
}

.socialIcon {
    margin-left: 15% !important;
}

.navBrandLink {
    display: inline !important;
}

.navBarText {
    font-size: 2px !important;
}

.navBrandText {
    font-size: 18px !important;
}

.navText {
    font-size: 17px !important;
    margin-top: 0px !important;
}

.darkText {
    color: black !important;
}

.lightText {
    color: white !important;
}

.logoImage {
    display: inline-block!important;
}

.connectBtnDiv {
    margin-top: 0.6% !important;
}

.connectBtnDark:hover {
    color: white !important;
}
  
.connectBtnLight:hover {
    color: white !important;
}

@media (max-width: 1500px) and (min-width: 1350px) {
    .navBrandText, .navBrandTextMain {
        font-size: 22px !important;
    }

    .navText {
        font-size: 14px !important;
        margin-top: 2px !important;
    }

    .navDropdown {
        font-size: 14px !important;
        margin-top: 1px !important;
    }

    .iconSize {
        font-size: 1.75rem !important;
    }
    
    .iconSizeTheme {
        font-size: 2rem !important;
    }
}

@media (max-width: 1350px) and (min-width: 1200px) {
    .navBrandText, .navBrandTextMain {
        font-size: 22px !important;
    }

    .navText {
        margin-top: 2px !important;
        font-size: 14px !important;
    }

    .navDropdown {
        margin-top: 1.5px !important;
        font-size: 14px !important;
    }

    .iconSize {
        font-size: 1.75rem !important;
    }
    
    .iconSizeTheme {
        font-size: 1.75rem !important;
    }
}

@media (max-width: 1200px) and (min-width: 1110px) {
    .navBrandText, .navBrandTextMain {
        font-size: 22px !important;
    }

    .navText {
        font-size: 12px !important;
        margin-top: 4px !important;
    }

    .navDropdown {
        font-size: 12px !important;
        margin-top: 3.5px !important;
    }

    .iconSize {
        font-size: 1.75rem !important;
    }
    
    .iconSizeTheme {
        font-size: 1.65rem !important;
    }

    .themeSwitch {
        size: 10rem !important;
    }
}

@media (max-width: 1110px) and (min-width: 992px) {
    .navBrandText, .navBrandTextMain {
        font-size: 22px !important;
    }

    .navText {
        font-size: 10px !important;
        margin-top: 6px !important;
    }

    .navDropdown {
        font-size: 10px !important;
        margin-top: 5.5px !important;
    }

    .iconSize {
        font-size: 1.75rem !important;
    }
    
    .iconSizeTheme {
        font-size: 1.65rem !important;
    }
}

@media (min-width: 992px) {
    .navBar {
        width: 100% !important;
        background-color: rgba(0, 0, 0, 0) !important;
    }
    .navBarItems {
        margin-left: -15%;
        display: flex !important;
        justify-content: center !important;
    }
    
    .navBarBrand {
        padding-left: 10%;
    }

    .navPadding {
        padding-right: 1rem !important;
        padding-left: 0.5rem !important;
    }

    .changeThemeDiv {
        margin-top: 0.2rem !important;
        margin-left: 3rem !important;
        margin-right: 0.5rem !important;
    }
  }

@media (max-width: 991px) {
    .socialIcons {
        display: flex !important;
        align-items: center !important;
    }
    .socialIcon {
        margin-top: 5% !important;
        margin-left: 1% !important;
    }
    .socialIconSpacing {
        margin-left: 8% !important;
    }

    .whitePaperBtn {
        width: 50% !important;
        margin-top: 5% !important;
    }
  }

@media (max-width: 500px) {
    .navBarItems {
        margin-left: 2% !important;
    }
}

@media (max-width: 1350px) and (min-width: 992px) {
    .navBrandText, .navBrandTextMain {
        margin-left: 0% !important;
    }
}